html,
body,
div {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
body #content {
  width: inherit;
  height: inherit;
  display: block;
}
body #info {
  position: absolute;
  top: 0;
  right: -13rem;
  background-color: rgba(0,0,0,0.6);
  width: 15rem;
  height: 100%;
  transition: right 300ms;
  padding: 3rem;
  box-sizing: border-box;
}
body #info .description {
  width: 100%;
  height: 100%;
  color: #fff;
  transition: opacity 500ms;
  font-size: 1.2rem;
  overflow: auto;
}
body #info .description:first-letter {
  padding-left: 1rem;
}
body #info:hover {
  right: 0;
}
