html,
body,
div,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000;
}
html {
  height: 100%;
  width: 100%;
}
html body {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}
html body #container {
  display: inline-block;
  width: 35rem;
  padding-top: 7rem;
  text-align: center;
}
html body #container .description {
  display: inline-block;
  width: 33rem;
  text-align: left;
  font-size: 1.2rem;
  font-family: Calisto MT, Book Antiqua, serif;
}
html body #container .description:first-letter {
  margin-left: 1rem;
}
html body #container #menu {
  display: inline-block;
  position: relative;
  width: 30rem;
  height: 20rem;
  margin-top: 5rem;
}
html body #container #menu li {
  float: left;
  width: 10rem;
  height: 10rem;
  background-color: #ddd;
  line-height: 10rem;
  text-align: center;
  transition: background-color 500ms;
  font-size: 1.2rem;
  font-family: Century Gothic;
}
html body #container #menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
html body #container #menu li:hover {
  background-color: #eee;
}
html body #container #menu li span {
  display: block;
  font-size: 0.8rem;
  margin-top: -8rem;
  opacity: 0.6;
}
