html, body, div, a, ul, li
	margin 0
	padding 0
	
ul
	list-style-type none
	li
		display inline-block
		a
			text-decoration none
			color black
			
html
	height 100%
	width 100%
	body
		display block
		height 100%
		width 100%
		text-align center
		#container
			padding-top 10rem
			text-align center
			width inherit
			#menu
				display inline-block
				position relative
				width 20rem
				height 20rem
				li
					float left
					width 10rem
					height 10rem
					background-color lightgray
					line-height 10rem
					text-align center
					transition background-color 500ms
					a
						display inline-block
						width 100%
						height 100%
				li:hover
					background-color #EEEEEE